header {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the header content horizontally */
    margin-top: -22px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the logo and h1 horizontally */
    gap: 10px; /* Adjust gap between logo and h1 if needed */
    margin-bottom: -20px;
    
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

#logo {
    width: 120px;
}

#home-link {
    text-decoration: none;
}    

hr {
    height: 6px;
    margin: 10px 30px 0px 30px;
    color: black;
    background-color: black;
}

h2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

img {
    width: 500px;
    display: flex;
    margin: 20px auto;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    text-align: center;
    margin: -20px auto 10px auto;
}

p {
    text-align: justify;
    margin: auto;
    padding: 0 100px;

}

#bottom-paragraph {
    text-align: center;
    font-size: 12px;
    padding: 30px 150px;
}

a {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}